<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Match Offline - Arena</title>
    <link rel="stylesheet" href="css/matchstyles.css" />
</head>
<body>
    
    <div>

        <span style="color: black;" id="infoJogadorAtual">        
            <% if(partidaOffline.turno.jogadorAtual == 0 ) { %> 
                JOGADOR
            <% } else { %>
                CPU
            <% } %>
        </span>
        <br>
        <span style="color: black;" id="infoContadorTurno">
            Contador: <%= partidaOffline.turno.contadordeTurnos %> 
        </span>

    </div>

    <div class="hud-top">
        <div class="profile-box">
            <div class="profile-text p-side">
                <span class="hud-name">PLAYER 1</span>
                <span class="hud-rank">INITIATE</span>
            </div>
            <div class="hud-portrait" style="background-image: url('img/charportraits/0.png');"></div>
        </div>

        <div class="hud-center">
            <div id="turn-button" onclick="endturn()" data-recursosJogador="<%= JSON.stringify(partidaOffline.recursosJogador) %>" class="turn-text">CLICK HERE TO END TURN</div>
            
            <div class="timer-bar-bg">
                <div class="timer-fill" id="timer-fill"></div>
            </div>

            <div class="counters-row">

                <% partidaOffline.recursosJogador.forEach(function(recurso) { %> 
                    <div class="counter-item">
                        <div class="c-box c-<%= recurso.energyType %>"></div>
                        <span>x </span>
                        <span id="energy-<%= recurso.energyType %>"><%= recurso.amount %></span>
                    </div>                
                <% }); %>
            </div>
        </div>

        <div class="profile-box">
            <div class="hud-portrait" style="background-image: url('img/charportraits/0.png');"></div>
            <div class="profile-text c-side">
                <span class="hud-name">CPU</span>
                <span class="hud-rank">INITIATE</span>
            </div>
        </div>
    </div>
    <div class="match-container">
        <aside class="players-col">
            <% partidaOffline.timePersonagens.forEach(function(personagem) { %> 
                <div class="player-card">
                    <div class="portrait-wrapper">
                        <div class="portrait" 
                            data-description        ="<%= personagem.description %>"
                            data-name               ="<%= personagem.name %>"
                            data-portrait           ="<%= personagem.portrait %>"
                            onclick                 ="infobox(this)"
                            data-charid             ="<%= personagem.charid %>" 
                            style                   ="background-image: url('<%= personagem.portrait %>');">
                        </div>
                        <div class="health-bar">100 / 100</div>

                        <!-- onclick="infobox('<%= personagem.description %>', '<%= personagem.name %>', '<%= personagem.portrait %>')"  -->

                    </div>
                    <div class="skills-rect">
                    <% personagem.skills.forEach(function(skill) { %> 
                        <div class="skill" 
                            data-description    ="<%= skill.description %>"
                            data-name           ="<%= skill.name %>"
                            data-portrait       ="<%= skill.skillportrait %>"
                            onclick             ="infobox(this)"
                            data-skillid        ="<%= skill.skillid %>" 
                            style               ="background-image: url('<%= skill.skillportrait %>');">
                        </div>

                        <!-- onclick="infobox('<%= skill.description %>', '<%= skill.name %>', '<%= skill.skillportrait %>')"  -->

                    <% }); %>
                    </div>
                </div>                
            <% }); %>
        </aside>

        <aside class="cpu-col">
            <% partidaOffline.timePersonagensCPU.forEach(function(cpu) { %> 
                <div class="portrait-wrapper">
                    <div class="cpu-portrait" 
                        data-description    ="<%= cpu.description %>"
                        data-name           ="<%= cpu.name %>"
                        data-portrait       ="<%= cpu.portrait %>"
                        onclick             ="infobox(this)"
                        data-charid         ="<%= cpu.charid %>" 
                        style               ="background-image: url('<%= cpu.portrait %>');">
                    </div>
                    <div class="health-bar">100 / 100</div>

                    <!-- onclick="infobox('<%= cpu.description %>', '<%= cpu.name %>', '<%= cpu.portrait %>')"  -->

                </div>      
            <% }); %>
        </aside>

        <div class="infoboxportrait"    style="display: none;"></div>
        <div class="infoboxname"        style="display: none;"></div>
        <div class="infoboxdesc"        style="display: none;"></div>

    </div>
</body>

<script>
    
    document.addEventListener("DOMContentLoaded", function() {
        startCountdown(300);

        //Fetch para validar quais skills estão disponíveis para o jogador, e quais estão bloqueadas, baseado nos recursos atuais do jogador, e atualizar a interface de acordo
        //Quando começar a partida, atribuir recursos pro jogador.        
        //Usar localstore para identificar os personagens e suas skill, e os recursos do jogador.

    });

    function startCountdown(contador) {
        var bar = document.getElementById("timer-fill");
        var width = 100;
        var interval = setInterval(frame, contador);

        function frame() {
            if (width <= 0) {
                clearInterval(interval);                
                //Passar turno
                endturn();
            } else {
                width--;
                bar.style.width = width + "%";
            }
        }
    }

    function infobox(element) {

        const description =     element.getAttribute('data-description');
        const name =            element.getAttribute('data-name');
        const portrait =        element.getAttribute('data-portrait');

        document.querySelector('.infoboxportrait')  .style.backgroundImage = `url('${portrait}')`;
        document.querySelector('.infoboxname')      .textContent = name.toUpperCase();
        document.querySelector('.infoboxdesc')      .innerHTML = `<p>${description.toUpperCase()}</p>`;

        document.querySelector('.infoboxportrait').     style.display = 'block';
        document.querySelector('.infoboxname').         style.display = 'block';
        document.querySelector('.infoboxdesc').         style.display = 'block';

    }

    function endturn() {
        fetch("/passarTurno", {
            method: "POST",
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        }).then(response => { // energias atualizadas
            response.json().then(dadosPartida => {
                console.log("Dados do servidor:", dadosPartida);  
                var bar = document.getElementById("timer-fill");
                bar.style.width = "100%";

                dadosPartida.recursosJogador.forEach(energy => {
                    const energyElement = document.getElementById(`energy-${energy.energyType}`);
                    if (energyElement) {
                        energyElement.textContent = energy.amount;
                    }
                });

                const turnButton = document.getElementById('turn-button');
                if (dadosPartida.turno.jogadorAtual === 0) {
                    turnButton.textContent = "CLICK HERE TO END TURN";
                    document.getElementById("infoJogadorAtual").textContent = "Jogador";
                    document.getElementById("infoContadorTurno").textContent = `Turn: ${dadosPartida.turno.contadordeTurnos}`;
                    startCountdown(300);
                } 
                else {
                    turnButton.textContent = "OPPONENT'S TURN";
                    document.getElementById("infoJogadorAtual").textContent = "CPU";
                    document.getElementById("infoContadorTurno").textContent = `Turn: ${dadosPartida.turno.contadordeTurnos}`;
                    // startCountdown(70);

                    setTimeout(() => { // Simula o tempo de resposta do CPU, e depois passa o turno de volta para o jogador
                        fetch("/passarTurno", {
                            method: "POST",
                            headers: {
                                "Content-type": "application/json; charset=UTF-8"
                            }
                        }).then(response => { // energias atualizadas
                            response.json().then(dadosPartida => {
                                console.log("Dados do servidor:", dadosPartida);                 

                                dadosPartida.recursosJogador.forEach(energy => {
                                    const energyElement = document.getElementById(`energy-${energy.energyType}`);
                                    if (energyElement) {
                                        energyElement.textContent = energy.amount;
                                    }
                                });

                                const turnButton = document.getElementById('turn-button');
                                if (dadosPartida.turno.jogadorAtual === 0) {
                                    turnButton.textContent = "CLICK HERE TO END TURN";
                                    document.getElementById("infoJogadorAtual").textContent = "Jogador";
                                    document.getElementById("infoContadorTurno").textContent = `Turn: ${dadosPartida.turno.contadordeTurnos}`;
                                    startCountdown(300);
                                } else {
                                    turnButton.textContent = "OPPONENT'S TURN";
                                    document.getElementById("infoJogadorAtual").textContent = "CPU";
                                    document.getElementById("infoContadorTurno").textContent = `Turn: ${dadosPartida.turno.contadordeTurnos}`;                                    
                                    // startCountdown(70);
                                }
                            });
                        });
                    }, 1000);
                }
            });
        });
    }
</script>
</html>